* {
    padding: 0px;
    margin: 0px;
}

.container {
    margin: 0% auto;
    width: 70%;
    border: 1px solid black;
}

.titleHeading {
    margin: 1% 0% 1% 2.5%;
}

.inputStyle {
    width: 95%;
    display: block;
    margin: 0 auto;
    height: 40px;
}

#select {
    width: 95%;
    display: block;
    margin: 0 auto;
}

#button {
    width: 95%;
    display: block;
    margin: 0 auto;
    height: 60px;
    background-color: rgb(3, 209, 3);
    color: white;
}

.movieList {
    margin: 1% 2.5% 1% 2.5%;
    list-style: none;
    background-color: lightgray;
}

#totalLength {
    margin: 1% 0 1% 2.5%;
}

.error {
    margin: 1% 0 1% 2.5%;
}