body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

img.col-sm-6 {
  min-height: 700px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 40px;
  background: white;
  width: 230px;
  border-radius: 10px;
  border: solid 1px black;
}

.dropdown ul {
  list-style: none;
  padding: 5px;
}

.dropdown li {
  padding: 3px;
}

.card-body, .card-img-top, .dropdown li {
  cursor: pointer;
}

.container {
  position: relative;
}

h2, .h2 {
  max-height: 50px;
}

/* div.main {
  max-height: 90vw;
  overflow: hidden;
} */
