
.post {
    width: 20%;
    margin: 2%;
    background: blue;   
}
.post .post_image {
    width: 100%;
    margin: 0;
}
.post img {
    width: 100%;
    height: 200px;
}
.post_title, .post_tekst{
    color: white;
    padding: 10px;
}
.post_title h1 {
    font-size: 1.2rem;
}
.post_title h2 {
    font-size: 1rem;
}
.post_tekst {
    font-size: 0.8rem;
}
.post_footer {
    font-size: 0.8rem;
    text-align: center;
    color:white;
    margin: 10px 0;
}
.post_footer span {
    font-weight: 700;
}
